{% extends 'base.html' %}

{% block title %} nie {% endblock %}
{% block extrahead %} 
<style>
    .rów {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(237, 237, 237);
    }
    .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 6px;
  border: 6px solid rgb(0, 128, 255);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(0, 128, 255) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cos {
    width: 100%;
    max-width: 425px;
    padding: 15px;
    margin: 0 auto;
}

.guwno {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dupa {
  font-size: 20px;
}
.guwno2 {
  font-size: 15px;
}
</style>
{% endblock %}
{% block main %}

<div class="cos">
<div class="form-group">
  <label for="exampleFormControlInput1">Name</label>
  <input type="text" id="name" class="form-control" placeholder="">
</div>
<div class="form-group">
  <label for="exampleFormControlInput2">Coordinates</label>
  <input type="text" class="form-control" id="coordinates">
</div>
<button type="button" class="btn btn-lg btn-primary btn-block" id="sbm">Add</button>
<button type="button" class="btn btn-lg btn-primary btn-block" id="nn_tour">Check path</button>
<div class="points">
</div>
<div class="lds-ring" id="first_ring"><div></div><div></div><div></div><div></div></div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Path:</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  

<script>
    $(document).ready(function() {
      const reload = () => {
        $('.points').empty();
        $('#first_ring').show();
        $.ajax({
        method: 'get',
        url: '/listing',
        success: function(res) {
          points = JSON.parse(res)
          $('#first_ring').hide()
          
          $.each(points, function(index, value) {
            $('.points').append(`<div class="rów">
              <div class="guwno">
                                <div id="${value[0]}"><h5 class="dupa">${value[1]}</h5><div class="guwno2">${value[2]}</div></div> <button type="button" class="btn btn-primary" id="del">Delete</button>
                              </div></div>`)
          });
          if (!points.length) {
            $('.points').append(`<div class="row"><p>No points</p></div>`)            
          }
        }
      });
      }
      reload();

        $('#sbm').click(function() {
            $.ajax({
              method: "post",
              url: "/add",
              data: { coordinates: $('#coordinates').val(), name: $('#name').val() },
              success: function (res) {
                    if (res !== 'Failed to add') {
                      reload();
                      $('#name').val('')
                      $('#coordinates').val('')
                    }
                },
            });
        });
        $('body').on('click', '#del', function() {
            let current_div = $(this).parent('div');
            $.ajax({
              method: "delete",
              url: "/delete",
              data: { id: $(this).parent('div')[0].firstElementChild.id },
              success: function (res) {
                  if (res == '') {
                      reload();
                  }
              },
            });
          });
          $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
          $('#nn_tour').click(function() {
              $('.modal-body').empty()
              $('#myModal').modal();
              $('.modal-body').append(`<div class="lds-ring" id="second_ring"><div></div><div></div><div></div><div></div></div>`)
              let arr = [];
                $.ajax({
                    method: "get",
                    url: "/nn_algorithm",
                    success: function (res) {
                      if (res == 'Failed') {
                        $('.modal-body').html('Failed to get path');
                      } else {
                      let arr = JSON.parse(res)
                      $('.modal-body').empty();
                      $.each(arr, function(index, value) {
                        $('.modal-body').append(`<p>${value}</p>`)
                      });
                    }

                    },
            });
          })
    })
</script>

{% endblock %}